services:
  # 1. Сервис Базы Данных (PostgreSQL)
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: user        
      POSTGRES_PASSWORD: password
      POSTGRES_DB: sentiment_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # 2. Сервис Бэкенда (FastAPI)
  backend:
    build: ./backend
    restart: always
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      
      DATABASE_URL: postgresql://user:password@db:5432/sentiment_db
    volumes:
       - ./backend:/app
       - hf_cache:/root/.cache/huggingface
    deploy:
       resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
 
  # 3. Сервис Фронтенда (Streamlit)
  frontend:
    build: ./frontend
    restart: always
    ports:
      - "8501:8501"
    depends_on:
      - backend
    environment:
      
      BACKEND_URL: http://backend:8000

volumes:
  postgres_data:
  hf_cache:
  