fastapi==0.109.0
uvicorn[standard]==0.27.0
pydantic==2.6.0
pydantic-settings==2.2.0
sqlalchemy==2.0.25
psycopg2-binary
transformers==4.38.0
torch
bitsandbytes==0.41.3
accelerate==0.28.0
python-dotenv==1.0.0
pandas
streamlit
python-multipart
peft>=0.10.0
datasets
accelerate
